<h4>Estimated location</h4>

<table class="empty">
    <tbody>
        <tr>
            <td class="field_name">IP</td>
            <td id="location_query" class="location_value">{{geolocation.ip}}</td>
            <td><button class="help">?</button></td>
        </tr>
        <tr>
            <td class="field_name">Country</td>
            <td id="location_country" class="location_value">{{geolocation.country}}</td>
            <td><button class="help">?</button></td>
        </tr>
        <tr>
            <td class="field_name">Region</td>
            <td id="location_regionName" class="location_value">{{geolocation.region}}</td>
            <td><button class="help">?</button></td>
        </tr>
        <tr>
            <td class="field_name">City</td>
            <td id="location_city" class="location_value">{{geolocation.city}}</td>
            <td><button class="help">?</button></td>
        </tr>
        <tr>
            <td class="field_name">Zip Code</td>
            <td id="location_zip_code" class="location_value">{{geolocation.zipCode}}</td>
            <td><button class="help">?</button></td>
        </tr>
        <tr>
            <td class="field_name">Latitude</td>
            <td id="location_lat" class="location_value">{{geolocation.latitude}}</td>
            <td><button class="help">?</button></td>
        </tr>
        <tr>
            <td class="field_name">Longitude</td>
            <td id="location_lon" class="location_value">{{geolocation.longitude}}</td>
            <td><button class="help">?</button></td>
        </tr>
    </tbody>
</table>