/* ================================================
// Note to candidate:
//  This code has bad practices
//  feel free to replace it with a better solution
// ================================================ */

@import '../../../node_modules/bootstrap/scss/bootstrap';

.modal {
	display: block;
	pointer-events: none;
	z-index: -1;

	&.show {
		pointer-events: all;
		z-index: 1080;
	}
}

.geo-display {
	&.empty {
		.help {
			visibility: hidden;
			pointer-events: none;
		}
	}
}

.form-group.empty {
	height: 2.1rem;
}

.map {
	height: 300px;
	width: 100%;
}