.modal {
    display: block;
    pointer-events: none;
    z-index: -1;
    &.show {
        pointer-events: all;
        z-index: 1080;
    }
}

.dropdown-item-hoverable:hover {
    cursor: pointer;
    background-color: #dddfe2;
}

.line-height-1 {
    line-height: 1em;
}

#sales {
    .scroll-content {
        max-height: 400px;
        overflow-y: auto;
    }
}

.navbar {
    background-color: #e3f2fd;
}

.container,
.container-fluid {
    margin-top: 30px;
}
