/* ================================================
// Note to candidate:
//  This code has bad practices
//  feel free to replace it with a better solution
// ================================================ */

@import '../../../node_modules/bootstrap/scss/bootstrap';

.modal {
	display: block;
	pointer-events: none;
	z-index: -1;

	&.show {
		pointer-events: all;
		z-index: 1080;
	}
}

.geo-display {
	&.empty {
		.help {
			visibility: hidden;
			pointer-events: none;
		}
	}
}

.location_value {
	color: red;
}

#title{
	font-size: 48px;
}

#btnMyLocation, #btnResetLocation {
	width: 300px;
	height:50;
}

table > tbody > tr > td.field_name {
    text-align: left;
}

table > tbody > tr > td.location_value {
    width: 200px;
}

table.empty .help {
    visibility: hidden;
}


agm-map {
  height: 300px;
  width: 100%;
}